<title>RecommendMe</title>
<link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="./css/about.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!--nav-bar-->
<div class="group1">
  <div class="header-wrap">
    <div class="header">
      <div class="nav-wrapper">
        <div class="logo">
          <span></span>
        </div>
        <div class="nav">
          <ul>
            <li> <a href="home">Home</a></li>
            <li> <a href="rooms">Chatroom</a></li>
            <li> <a href="about">About</a></li>
            <li> <a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <p class="logout-button-container">
        <a href="login"><input class="logout-button" type="submit" value="Logout"></a>
      </p>
    </div>
  </div>
</div>

<div class="main-container">

  <!--main div-->
  <div class='hero-wrap'>
    <div>
      <div class="hero">
      </div>
    </div>
    <div class="hero-front-wrap">
      <div class="hero-text">
        <div class="hero-text-in">
          <h1 class="recommend-h1">Recommend<span style="font-style: italic">Me<span></h1>
          <h2>Your Friends, Their Recommendations</h2>
        </div>
      </div>

    </div>
  </div>

  <!--whole bottom container-->
  <div class="bottom-container">

    <!--about div-->
    <section id="abouts">
      <div class="about-section section-about">
        <div style="margin-top: 0" class="wrap">
          <h3>With RecommendMe, you and your friends can easily share the things you each like.</h3>
          <h2>Here are recommendations you can share on RecommendMe:</h2>
          <div class="items">
            <div class="item i1">
              <div class="icon"></div>
              <h3>People</h3>
              <p>Healthcare Providers, Home
                <br> Services, Beauty/Personal Care
              </p>
            </div>
            <div class="item i2">
              <div class="icon"></div>
              <h3>Places</h3>
              <p>Reastaurants/Bars, Travel,
                <br> Fitness, and Recreation
              </p>
            </div>
            <div class="item i3">
              <div class="icon"></div>
              <h3>Products</h3>
              <p>App, Gifts, Child Related,
                <br> and Pet Related
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--bottom picture div-->
    <div class="we-make">
      Your Friends, Their Recommendations<br><span>We can't wait to have you on RecommendMe soon!</span>
    </div>




    <!--closing div for bottom-container-->
  </div>
  <!--closing div for main-container-->
</div>
