<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>RecommendMe</title>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body ng-controller="controller">

	<!--nav-bar-->
	<div class="group1">
		<div class="header-wrap">
			<div class="header">
				<div class="nav-wrapper">
					<div class="logo">
						<span></span>
					</div>
					<div class="nav">
						<ul>
							<li> <a href="home">Home</a></li>
							<li> <a href="rooms">Chatroom</a></li>
							<li> <a href="about">About</a></li>
							<li> <a href="contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<p class="logout-button-container">
					<a href="login"><input class="logout-button" type="submit" value="Logout"></a>
				</p>
			</div>
		</div>
	</div>

	<img class="rubybar" src="../img/ruby.jpg">

	<div class="home-main-container"> <br>
		<div class="adjust-form"></div>
			<div class="input-box">
			<input type="text" placeholder="Item Name" ng-model="name">
			<input type="text" placeholder="Description" ng-model="description">
			<input type="text" placeholder="Price" ng-model="price">
			<button style="width: 82px;" ng-click="add(name,description,price,img,producturl)">Add Item</button><br>
			<input type="text" placeholder="Image URL" ng-model="img">
			<input type="text" placeholder="Product URL" ng-model="producturl"><br><br>


			<input type="text" placeholder="ID" ng-model="id">
			<input type="text" placeholder="Description" ng-model="desc">
			<input type="text" placeholder="Price" ng-model="price2">
			<button ng-click="update(id,desc,price2)">Update Item</button><br>
			<input type="text" placeholder="Image URL" ng-model="imageurl2">
			<input type="text" placeholder="Product URL" ng-model="producturl2"><br><br>


			<input type="text" placeholder="ID" ng-model="id2">
			<button style="margin-left: 373px; width:85px;" ng-click="delete(id2)">Delete by ID</button><br><br>
		</div>
	</div>

	<ul class="row">
		<span class="thumbnail" ng-repeat="items in products" ng-click="info=!info">
			<div class="images-wrapper">
			<img class="home-img" ng-src="{{items.imageurl}}">
		</div>
		<p class="display-info" ng-show="info" ng-class="{'display-info': info}">
			ID: {{items.productid}}<br>
			Name: {{items.name}}<br>
			Description: {{items.description}}<br>
			Price: ${{items.price}}<br>
			Product URL: <a href="{{items.producturl}}" target="_blank" style="text-decoration: none">{{items.producturl}}</a><br>
		</p><br><br>
   <div class="section-1">
     <div class="thumbnail">
         <div class="caption">
         </div>
       </a>
     </div>
   </div>
   <div class="section-1">
     <div class="thumbnail">
         <div class="caption">
         </div>
       </a>
     </div>
   </div>
   <div class="section-3">
     <div class="thumbnail">
         <div class="caption">
         </div>
       </a>
     </div>
   </div>
 </span>
 </ul>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="../angular/app.js"></script>
<script src="../angular/service.js"></script>
<script src="../angular/controller.js"></script>
</html>
