<title>RecommendMe</title>

<link rel="stylesheet" href="/css/loginStyles.css">
<link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="login-main-container">

	<div id="wrap">
	<img src="https://s3.us-east-2.amazonaws.com/dat-tran-recommendme/4408044-beautiful-hd-wallpapers.jpg"/>
	<img src="https://s3.us-east-2.amazonaws.com/dat-tran-recommendme/bg_login1.jpg"/>
	<img src="https://s3.us-east-2.amazonaws.com/dat-tran-recommendme/bg_login2.jpg"/>
	<img src="https://s3.us-east-2.amazonaws.com/dat-tran-recommendme/moutain_bg.jpg"/>
	<img src="https://s3.us-east-2.amazonaws.com/dat-tran-recommendme/nature-wallpaper.jpg"/>
	</div>

	<div class="login-head-path">
		<div class="logo">
			<span></span>
		</div>
	</div>

	<div class="bottom-container">
		<div style="font-size: 22px;" class="login-hi-sign">Hello. Sign in.</div>
		<div class="login-wrap-form">
			<div class="login-fieldset">
				<div class="login-box">
					<label for="inpEmail" class="login-screen-out">Email address</label>
					<input type="email" id="enpEmail" name="inpEmail" class="inp_comm" placeholder="Email address">
				</div>
				<div class="login-box">
					<label for="inpEmail" class="login-screen-out">Password</label>
					<input type="email" id="enpEmail" name="inpEmail" class="inp_comm" placeholder="Password">
				</div>
				<div class="login-wrap-sign">
					<button ui-sref="home" type="summit" class="login-btn-sign">Sign in</buton>
					</div>
					<div class="login-noti">
						<p class="login-desc-noti">Not on RecommendMe? <a class="login-link-noti" href="signup">Get started here</a></p>
					</div>
					<div class="social-media-icons-container">
						<a href="/auth/facebook">
							<img id="loginBtnImg" src="../img/fbLoginBtn.png" alt="Sign-In with Facebook">
						</a>
						<a href="/auth/twitter">
							<img id="loginBtnImg" src="../img/twLoginBtn.png" alt="Sign-In with Twitter">
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
<script src="/js/jquery-2.1.4.min.js"></script>
<script>
$('#wrap img').hide();

function anim() {
    $("#wrap img").first().appendTo('#wrap').fadeOut(4000);
    $("#wrap img").first().fadeIn(3000);
    setTimeout(anim, 7000);
}
anim();
</script>
